// BreeSerif
@font-face {
  font-family: BreeSerifR;
  src: url("fonts/BreeSerif-Regular.ttf");
}

// MyriadPro
@font-face {
  font-family: MyriadProR;
  src: url("fonts/MyriadProRegular.ttf");
}

// Ubuntu
@font-face {
  font-family: UbuntuR;
  src: url("fonts/Ubuntu-Regular.ttf");
}
